
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <a href="~/Views/_ViewStart.cshtml">~/Views/_ViewStart.cshtml</a>


</head>
<body>
    MI PRIMER PROGRAMA
    <div> 
        SEGUNDA VERCION
    </div>
</body>
</html>
